@model Salary
<h1>
    Delete Department
</h1>

<form method="post">
    <input asp-for="Id" type="hidden" />
    <div class="mb-3">

        <label asp-for="salary"></label>
        <input class="form-control" disabled asp-for="salary" />
    </div>
    <div class="mb-3">
        <label asp-for="Department"></label>
        <input class="form-control" disabled asp-for="Department" />
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <button class="btn btn-danger" type="submit">Delete</button>
</form>