@model Employee
<h1>
    Delete Employee
</h1>

<form method="post">
    <input asp-for="Id"  type="hidden"/>
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input class="form-control" disabled asp-for="Name" />
    </div>
    <div class="mb-3">
        <label asp-for="EmployeeID"></label>
        <input class="form-control" disabled asp-for="EmployeeID" />
    </div>
    <div class="mb-3">
        <label asp-for="Age"></label>
        <input class="form-control" disabled asp-for="Age" />
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <button class="btn btn-danger" type="submit">Delete</button>

</form>